name: Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
    branches:
      - main
  schedule:
    # At minute 0 past hour 6. (see https://crontab.guru)
    - cron: '00 06 * * *'

jobs:

  test-all:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-22.04, macos-11, windows-2022 ]
        py_version: [ "3.10", "3.11" ]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.py_version }}

      - name: Install and configure
        shell: bash
        run: |
          pip install .[test,mlir] -v -f https://makslevental.github.io/wheels 
          mlir-python-utils-generate-all-upstream-trampolines
          
          HOST_MLIR_PYTHON_PACKAGE_PREFIX=jaxlib.mlir pip install .[jax] -v
          jaxlib-mlir-python-utils-generate-all-upstream-trampolines
          
          pip install aie -f https://github.com/Xilinx/mlir-aie/releases/expanded_assets/latest-wheels --no-index
          HOST_MLIR_PYTHON_PACKAGE_PREFIX=aie.mlir pip install . -v
          aie-mlir-python-utils-generate-all-upstream-trampolines
          aie-mlir-python-utils-generate-trampolines aie.dialects.aie

      - name: Test
        shell: bash
        run: |
          if [ ${{ matrix.os }} == 'windows-2022' ]; then
            pytest -s tests
          else
            pytest --capture=tee-sys tests
          fi

      - name: Test mwe
        shell: bash
        run: |
          python examples/mwe.py

  test-jupyter:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-22.04 ]
        py_version: [ "3.10" ]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.py_version }}

      - name: Run notebook
        shell: bash
        run: |
          pip install jupyter
          sed -i.bak 's/OUTPUT_TIMEOUT = 10/OUTPUT_TIMEOUT = 100/g' \
            $(python -c 'import site; print(site.getsitepackages()[0])')/jupyter_client/runapp.py
          BRANCH=${{ github.ref_name }} jupyter run examples/mlir_python_utils.ipynb

  mlir-bindings-aarch64:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-22.04 ]
        py_version: [ "3.10", "3.11" ]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install, configure, and test
        uses: uraimo/run-on-arch-action@v2
        with:
          arch: aarch64
          distro: ubuntu20.04
          dockerRunArgs: --volume "${{ github.workspace }}:/workspace"
          install: |
            
            apt-get update -q -y
            apt-get install -y wget
            
            mkdir -p ~/miniconda3
            wget -q https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-aarch64.sh -O miniconda.sh
            bash miniconda.sh -b -u -p /root/miniconda3
            eval "$(/root/miniconda3/bin/conda shell.bash hook)"
            conda init
            conda install -q -y python=${{ matrix.py_version }}

          run: |
            
            eval "$(/root/miniconda3/bin/conda shell.bash hook)"
            
            cd /workspace
            
            pip install .[test,mlir] -f https://makslevental.github.io/wheels
            mlir-python-utils-generate-all-upstream-trampolines
            
            pytest --capture=tee-sys --ignore-glob=*test_smoke* tests
            python examples/mwe.py
